<template>
    <div id="playlist-results">
        <div class="error-msg">
            <div class="alert alert-info" role="alert">
                Loaded {{results.length}} Results
            </div>
        </div>
        <div class="results" v-show="results.length > 0">
            <div class="row">
                <div class="col-md-3" v-for="(result, index) in results" :key="index">
                    <div class="playlist">
                        <img src="https://picsum.photos/150/150?random" />
                        <div class="info">
                            {{result.name}}
                            <div class="pull-right">
                                Views: {{result.views}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row load-more" v-show="results.length > 0">
            <div class="col-md-12">
                <button type="button" class="btn btn-info btn-sm" @click="loadMore">Load more</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "playlist-results",
    data () {
        return {
            count: 0
        }
    },
    props: ["results"],
    watch: {
        results: function(newResults, old) {
            this.count = this.count + newResults.length;
        }
    },
    methods: {
        loadMore: function() {
            this.$emit('loadmoreresults', this.count);
        }
    }
}
</script>

<style>
.load-more {
    margin-top: 25px;
    text-align: center;
}
</style>


