<template>
    <div id="search">
        <div class="row">
            <form class="form-inline" v-on:submit.prevent="onSearch" style="margin: auto;">
                <input type="text" class="form-control col-md-7" name="q" v-model="q" v-on:keyup="autoSuggest" placeholder="Search Tags">
                <span class="col-md-1"></span>
                <button type="submit" class="btn btn-primary col-md-4">Search</button>
            </form>
        </div>
        <div class="row">
            <div class="autocomplete-suggestions" style="margin: auto;">
                <ul>
                    <li v-for="(item, index) in suggestions" v-bind:key="index" @click="addTag(item)">
                        {{item}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="selected-tags col-md-10 md-offset-2" style="">
                <div  v-for="(tag, tindex) in tags" :key="tindex" style="display: inline-block;">
                <span class="tag">
                    {{tag}}
                    <span @click="$emit('removeselectedtag', tindex)"><span class="fas fa-times-circle"></span></span>
                </span>
                <span class="fas fa-plus" style="margin-right: 20px;"></span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'search',
  props: ['tags'],
  data () {
      return {
        'q': '',
        'suggestions': []
      }
  },
  methods: {
      onSearch: function() {
          this.$emit('searchplaylist', this.q);
          this.suggestions = [];
      },
      autoSuggest: function() {
          var self = this;
          if(this.q === '') return;
          jQuery.get(this.$store.state.prod.autocompleteURL + this.q.toUpperCase(), function(response, status) {
            self.suggestions = JSON.parse(response);
          });
      },
      addTag: function(tag) {
          this.q = tag;
          this.suggestions = [];
          this.onSearch();
          this.q = "";
      }
  }
}
</script>

<style scoped>
    #search {
        margin: 40px 0;
        text-align: center;
    }

    #search form {
        /* margin: auto; */
        width: 60%;
    }

    .autocomplete-suggestions {
        position: absolute;
        /* top: 147px; */
        left: 20%;
        width: 59%;
        margin-left: -3px;
        z-index: 1000;
    }

    .autocomplete-suggestions ul {
        background-color: #f4f4f4;
        width: 59%;
        border: 1px solid #ced4da;
        text-align: left;
        padding-left: 10px;
    }

    .autocomplete-suggestions ul li {
        list-style-type: none;
        padding: 2px 0px;
        cursor: pointer;
    }

    .autocomplete-suggestions ul li:hover {
        background-color: #fff;
    }

    .selected-tags {
        margin-top: 25px;
    }

    .selected-tags .fa-times-circle {
        cursor: pointer;
    }

    .selected-tags .tag {
        width: auto;
        padding: 10px 25px;
        border-radius: 8px;
        border: 1px solid #484848;
        display: inline-block;
        margin-right: 15px;
    }
</style>
