<template>
    <div id="suggested-tags" v-show="tags.length > 0">
        <h4>Suggested Tags</h4>
        <hr/>
        <div class="tags">
            <div class="tag" v-for="(tag, index) in tags" :key="index">
                {{tag}}
                <span @click="$emit('addsuggestedtag', index)">
                    <span class="fas fa-plus-square"></span>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "suggested-tags",
    props: ['tags'],
    data () {
        return {
        }
    },
    methods: {
        removeTag: function() {
            console.log("here");
        },
    }
}
</script>

<style scoped>
    #suggested-tags {
        padding: 20px;
    }

    #suggested-tags .fa-times-circle {
        cursor: pointer;
        z-index: 1000;
    }

    .fa-plus-square {
        cursor: pointer;   
        z-index: 1000;
    }

    #suggested-tags .tag {
        width: auto;
        padding: 10px 25px;
        border-radius: 8px;
        border: 1px solid #484848;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 15px;
    }
</style>


