<template>
  <div id="app">
    <nav-comp></nav-comp>
    <search @searchplaylist="fetchPlayLists" :tags="tags" @removeselectedtag="removeSelectedTag"></search>
    <suggested-tags :tags="recommendedTags" @addsuggestedtag="addSuggestedTag"></suggested-tags>
    <playlist-results :results="results" @loadmoreresults="loadMoreResults"></playlist-results>
  </div>
</template>

<script>
import NavComp from './components/NavComp.vue'
import Search from './components/Search.vue'
import SuggestedTags from './components/SuggestedTags.vue'
import PlaylistResults from './components/PlaylistResults.vue'
import Vue from 'vue';
import Vuex from 'vuex';

Vue.use(Vuex);

const store = new Vuex.Store({
  state: {
    dev: {
      playlistSearchURL: 'http://localhost:4567/play-lists/search/',
      recommendedTagsURL: 'http://localhost:4567/recommended-tags/',
      autocompleteURL: 'http://localhost:4567/autocomplete/',
    },
    prod: {
      playlistSearchURL: 'http://ec2-13-127-150-141.ap-south-1.compute.amazonaws.com:4567/play-lists/search/',
      recommendedTagsURL: 'http://ec2-13-127-150-141.ap-south-1.compute.amazonaws.com:4567/recommended-tags/',
      autocompleteURL: 'http://ec2-13-127-150-141.ap-south-1.compute.amazonaws.com:4567/autocomplete/',
    }
  },
});

export default {
  name: 'app',
  store,
  data() {
    return {
      tags: [],
      results: [],
      recommendedTags: []
    }
  },
  methods: {
    fetchPlayLists: function(tag, skip = 0, tagToRemove = -1) {
      var self = this;
      var hasNewTag = false;
      if(!this.tags.includes(tag)) {
        this.tags.push(tag);
        hasNewTag = true;
      }
      if(tagToRemove != -1) { this.tags.splice(tagToRemove, 1); }
      jQuery.get(this.$store.state.prod.playlistSearchURL + this.tags.join(",") + "?skip=" + skip, function(response, status) {
        if(hasNewTag) {
          self.results = JSON.parse(response);
        }else {
          self.results = self.results.concat(JSON.parse(response));
        }
      });

      this.fetchRecommendedTags(this.tags.join(","));
    },
    removeSelectedTag: function(index) {
      var ele = this.tags.splice(index, 1);
      this.fetchPlayLists(ele[0], 0, true);
    },
    addSuggestedTag: function(index) {
      var ele = this.recommendedTags.splice(index, 1);
      this.fetchPlayLists(ele[0]);
    },
    loadMoreResults: function(skip) {
      this.fetchPlayLists(this.tags.join(","));
    },
    fetchRecommendedTags: function(tag) {
          var self = this;
          if(this.q === '') return;
          jQuery.get(this.$store.state.prod.recommendedTagsURL + tag, function(response, status) {
            self.recommendedTags = JSON.parse(response);
          });
    }
  },
  components: {
    NavComp,
    Search,
    SuggestedTags,
    PlaylistResults
  }
}
</script>
